name: Deploy

on:
    push:
        branches:
            - master

env:
    NAME: disk-showcase
    IMAGE_NAME: pyromatic/disk-showcase
    REGISTRY: registry.hub.docker.com

jobs:
    push_to_registry:
        runs-on: ubuntu-latest
        name: Push Docker Image
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build the Docker image
              run: |
                docker build -t ${{ env.IMAGE_NAME }}:latest \
                  --build-arg MONGO_CONNECTION_STRING="${{ secrets.MONGO_CONNECTION_STRING }}" \
                  --build-arg MONGO_DATABASE_NAME="${{ secrets.MONGO_DATABASE_NAME }}" \
                  --build-arg YANDEX_TOKEN="${{ secrets.YANDEX_TOKEN }}" \
                  --build-arg FOLDER_PATH="${{ secrets.FOLDER_PATH }}" \
                  --build-arg TELEGRAM_BOT_NAME="${{ secrets.TELEGRAM_BOT_NAME }}" \
                  --build-arg TELEGRAM_BOT_TOKEN="${{ secrets.TELEGRAM_BOT_TOKEN }}" \
                  --build-arg TELEGRAM_BOT_CHAT="${{ secrets.TELEGRAM_BOT_CHAT }}" \
                  .

            - name: Push the Docker image
              run: |
                  docker push ${{ env.IMAGE_NAME }}:latest

    deploy:
        needs: [push_to_registry]
        name: Deploy to VPS
        runs-on: ubuntu-latest
        steps:
            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}

            - name: Executing remote ssh commands using private key
              uses: appleboy/ssh-action@v0.1.8
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USERNAME }}
                  key: ${{ secrets.VPS_PRIVATE_KEY }}
                  script: |
                      docker system prune -f
                      docker login ${{ env.REGISTRY }} -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
                      docker service update --with-registry-auth \
                                            --image ${{ env.IMAGE_NAME }} \
                                            projects_${{ env.NAME }}